 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>1 on 1 Private Online Tutoring</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>I am offering 1 on 1, live online tutoring and training which is flexible in terms of timings, affordable and according to your unique needs.  </p>
                </div>
                <div class="col-lg-4">
                    <p> Broken code? No problem! I would be excited to help get your code working again and get things back on track.
                    I'm always available to review your assignment, study guide or project plan.  </p>
                </div>
            </div>
        </div>
    </section>
