 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>FAQ</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Whether you’ve never programmed or you’ve been programming for years, I can help you reach the next level extremely quickly. I don’t follow a cookie cutter template for teaching (you can just go on youtube for that), I tailor my teaching to your unique needs. </p>
                </div>
                <div class="col-lg-4">
                    <p> Whether you’re slowed down by missing computer science fundamentals or specific language or environment constructs, I will focus my sessions so that you master whatever is getting in your way. </p>
                </div>
            </div>
        </div>
    </section>
