 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Let's keep in touch</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>You're welcome to learn about my professional path via LinkedIn (linkedin.com/in/andreiVolkau). The link is available at the bottom of this page. You can contact me via Telegram (t.me/andrei_volkau) or email (andrej.volkau@gmail.com).</p>
                </div>
                <div class="col-lg-4">
                    <p> Rates are negotiable, and I am willing to amend rates based on the situation. Don't let hourly rate be the reason why you don't get a great tutoring session! We can always negotiate! Last but not least. The fist session is free. I encourage you to bookBook your free session now! </p>
                </div>
            </div>
        </div>
    </section>
